@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #e4e4e4;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: #fff8ec;
  --color-primary-100: #fff0d3;
  --color-primary-200: #ffdda5;
  --color-primary-300: #ffc46d;
  --color-primary-400: #ff9f32;
  --color-primary-500: #ff820a;
  --color-primary-600: #ff6900;
  --color-primary-700: #cc4b02;
  --color-primary-800: #a13a0b;
  --color-primary-900: #82320c;
  --color-primary-950: #461704;

  /* Container settings */
  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeBg {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.97;
  }
}

.animate-fadeBg {
  animation: fadeBg 2s infinite;
}


/* Tiptap Editor Styles */
.ProseMirror {
  outline: none;
}

.ProseMirror>*+* {
  margin-top: 0.75em;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ProseMirror h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
}

.ProseMirror blockquote {
  border-left: 4px solid #e5e7eb;
  padding-left: 1rem;
  color: #6b7280;
}




.loader2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, white 33%, #FAA525 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader2::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #F4F5F7;
}


/* .swiper-pagination-bullet {
  width: 24px !important;
  height: 8px !important;
  background-color: #e5e7eb !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  border-radius: 5px !important; 
} */
.swiper-pagination-bullet-active{
  width: 24px !important;
  height: 8px !important;
  background-color: #aaabae !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  border-radius: 5px !important; 
}

.swiper-pagination-bullet-active {
  background-color: #f17821 !important;
}

.swiper-pagination {
  bottom: 1rem !important;
}